.ant-menu {
    .ant-menu-item-selected {
        color: #18bc9c !important;
    }
    .ant-menu-item-selected::after {
        border-bottom: none !important;
    }
    .ant-menu-item::after {
        border-bottom: none !important;
    }
}

.ant-btn {
    :hover {
        background-color: #18bc9c;
    }
}

